{% extends 'base.html.twig' %}

{% block title %}Hello BufferController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/alung/Documents/Cours/Semestre 4/Perso/footBr/footapi/foot-api/src/Controller/BufferController.php'|file_link(0) }}">src/Controller/BufferController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/alung/Documents/Cours/Semestre 4/Perso/footBr/footapi/foot-api/templates/buffer/index.html.twig'|file_link(0) }}">templates/buffer/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
